:root {
    --default-page-width: 1160px;

    --basic-translate-space: -40px;
    --special-translate-space: -88px;

    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-grey: #7e7e7e;
    --basic-grey-darken: #dcdcdc;
    --basic-grey-light: #e5e5e5;
    
    
    --special-yellow-custom: #ffc600;
    --special-yellow: #f7e296;
    --special-yellow-dark: #f0c52e;
    --special-green: #91c92f;
    --special-smoke-white: #f2f2f2;
    --special-smoke-white-dark: #eaeaea;
    --special-pink: #f6dada;
    --special-grey-light: #ebebeb;
    --special-grey-dark: #d9d9d9;

    --special-white-opacity-1: rgba(255, 255, 255, .1);
    --special-white-opacity-3: rgba(255, 255, 255, .3);
    --special-white-opacity-6: rgba(255, 255, 255, .6);
    --special-white-opacity-7: rgba(255, 255, 255, .7);
    
    --special-black-opacity-1: rgba(0, 0, 0, .1);
    --special-black-opacity-2: rgba(0, 0, 0, .2);
    --special-black-opacity-3: rgba(0, 0, 0, .3);
    --special-black-opacity-4: rgba(0, 0, 0, .4);
    --special-black-opacity-5: rgba(0, 0, 0, .5);
    --special-black-opacity-6: rgba(0, 0, 0, .6);

    --font-main: 'Open Sans', Arial, sans-serif;
    --font-special: 'Gilroy', Arial, sans-serif;

    --font-weight-l: 700;
    --font-weight-m: 400;
    --font-weight-s: 300;

    --font-size-main-s: 14px;
    --font-size-main-m: 15px;

    --font-size-special-xxl: 179px;
    --font-size-special-xl: 47px;
    --font-size-special-l: 36px;
    --font-size-special-m-l: 18px;
    --font-size-special-m: 16px;
    --font-size-special-s-m: 14px;
    --font-size-special-s: 13px;
    --font-size-special-xs: 12px;

    --font-size-decorate: 10px;

    --line-height-m: 28px;

    --letter-spacing-l: .2em;
    --letter-spacing-m: .1em;
    --letter-spacing-s: .05em;

    --default-padding: 60px;

    --opacity-invisible: 0;
    --opacity-xl: 0.1;
    --opacity-l: 0.3;
    --opacity-m: 0.6;
    --opacity-s: 0.7;
    --opacity-visible: 1;

    --box-shadow-1: 0 10px 16px rgba(0, 0, 0, .15);
    --box-shadow-2: 0 10px 16px var(--basic-grey-light);

    --duration-l: .8s;
    --duration-m: .4s;
    --duration-x: .3s;
    --duration-xs: .15s;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body { 
    min-width: var(--default-page-width);
    color: var(--basic-dark);

    font-weight: var(--font-weight-s);
    font-size: var(--font-size-main-m);
    font-family: var(--font-main);
}

img { max-width: 100%; }

a { text-decoration: none; color:inherit; }

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.default-offset {
    padding-right: var(--default-padding);
    padding-left: var(--default-padding);
}

*, *::before, *::after { box-sizing: border-box; }

.btn {
    padding: 9px 0;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m-l);
    letter-spacing: var(--letter-spacing-l);
    font-family: var(--font-special);
    
    background: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    min-height: 55px;

    border-radius: 50%;
    background-color: var(--special-yellow);
    border: none;
    outline: none;
    opacity: .5;

    cursor: pointer;
}

.button-close:hover,
.button-close:focus {
    color: var(--special-yellow-dark);
    opacity: 1;
}

.button-close:active {
    color: var(--special-yellow);
    opacity: .3;
}

.logo {
    width: 164px;
}

.size-strict {
    width: var(--default-page-width);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-6 {
    width: calc( (100% - 40px) / 2 );
}

/* Grid */

.page-main {
    display: grid;
    grid-template-rows: 
        min-content 
        1fr 
        min-content;
}

.header__block:not(:last-child) {
    margin-bottom: 33px;
}

.header__block-item {
    width: calc((100% - 40px) / 2);
}

/* Menu */

.menu {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__button {
    margin-left: 12px;
    font: inherit;
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

/* Header */
.header__logo {
    margin-top: 5px;
    margin-bottom: 8px;
}

.header__logo path {
    fill: var(--basic-black);
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 15px 60px 10px;
    background-color: var(--special-yellow);
}

/* Header search */

.search {
    display: flex;
}

.search__form {
    position: relative;
    display: flex;
    align-items: center;
    width: 440px;
}

.search__label {
    min-width: 16px;
    height: 16px;
    background: var(--special-yellow) url('../img/search.svg') no-repeat center center;
    margin-right: 20px;
}

.search__input {
    width: 100%;
    font: inherit;
    color: var(--basic-black);
    border: none;
    outline: none;
    background-color: transparent;
    opacity: .3;
}

.search__button {
    display: inline-block;
    padding: 15px 17px;

    vertical-align: baseline;

    opacity: 0;
    
    font:inherit;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid var(--basic-dark);
    outline: none;
    user-select: none;
}

.search__input:focus + .search__button:hover, 
.search__button:focus {
    color: var(--basic-white);
    background-color: var(--basic-black); 
    opacity: 1;
}

.search__button:active {
    color: var(--special-white-opacity-3);
    background-color: var(--basic-black);
    opacity: 1;
}

.search__divide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    height: 2px;

    opacity: 0;

    background-color: var(--basic-dark);
}

.search__input:hover {
    opacity: .6;
}

.search__input:focus {
    opacity: 1;
}

.search__button:focus ~ .search__divide,
.search__input:focus ~ .search__divide {
    opacity: 1;
    border-bottom: 1px solid var(--basic-black);
}

.search__input:focus ~ .search__button {
    opacity: 1;
}

/* Header menu */

.header-menu__list {
    display: flex;
    width: 100%;
}

.header-menu__item:not(:first-child) {
    margin-left: 42px;
}

.header-menu__item:nth-of-type(2) {
    margin-left: auto;
}

.header-menu__link {
    color: var(--basic-black);
}

.header-menu__link-image {
    margin-right: 10px;
}

/* Header navigation */

.header-nav {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m-l);
    font-family: var(--font-special);
}

.navigation__list {
    display: flex;
}

.navigation__item:not(:last-child) {
    margin-right: 35px;
}

.navigation__item:last-child {
    margin-left: auto;
    margin-right: -3px;
}

.navigation__link {
    letter-spacing: var(--letter-spacing-l);
}

/* Header-catalog */

.header-catalog__popup {
    position: absolute;
    z-index: 10;
    left: 0;

    display: none;
    width: 100%;
}

.header-catalog__popup:hover {
    display: block;
}

.popup__block-list {
    display: flex;

    margin: 0 -60px;
    padding: 0 60px;

    background-color: var(--special-yellow);
}

.popup__block-item:not(:last-child) {
    margin-right: 61px;
}

.popup__link {
    color: var(--basic-dark);
}

.navigation__link,
.header-catalog__link {
    color: var(--basic-dark);
    text-transform: uppercase;
}

.popup__list {
    display: flex;
    flex-direction: column;

    font-weight: var(--font-weight-s);
    font-size: var(--font-size-main-m);
    font-family: var(--font-main);
}

.popup__item:first-child {
    margin-top: 20px;
}
.popup__item {
    margin-bottom: 20px;
}

.header-catalog__link {
    letter-spacing: var(--letter-spacing-m);
}

.header-catalog__link-wrap {
    display: flex;
    align-items: center;
}

.header-catalog__link-wrap:hover + .header-catalog__popup {
    display: block;
}

.header-catalog__img {
    margin-left: 18px;
}

/* Slider */

.slider {
    padding-top: 15px;

    background-image: linear-gradient(to bottom, var(--special-yellow) 155px, transparent 155px);
}

.slider__list {
    display: flex;
    flex-direction: column;
}

.slider__item {
    display: none;
    width: 100%;
}

.slider__item--active {
    display: flex;
}

.slider__image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__content {
    padding-right: 60px;

    font-family: var(--font-special);
}

.slider__title {
    position: relative;
    margin-top: 30px;
    margin-bottom: 26px;
    padding-top: 72px;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-xl);
}

.slider__title::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 0;

    width: 100px;
    height: 7px;

    background-color: var(--basic-white);
}

.slider__number {
    position: absolute;
    top: 8px;
    right: var(--default-padding);
    margin-right: -12px;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-xxl);
    color: var(--basic-white);
}

.slider__text {
    margin-bottom: 51px;
    font-family: var(--font-main);

    white-space: pre-line;
}

.slider__button {
    min-width: 220px;

    text-align: center;
    text-transform: uppercase;
}

.slider__param-list {
    display: flex;
    flex-wrap: wrap;
}

.slider__param-item:not(:nth-child(3n)) {
    margin-right: 62px;
    margin-bottom: 20px;
}

.slider__param,
.slider__value {
    margin: 0;
}

.slider__param {
    font-weight: var(--font-weight-s);
    font-size: var(--font-size-special-s);
    letter-spacing: var(--letter-spacing-m);
}

.slider__value {
    margin-bottom: 15px;

    font-size: var(--font-size-special-l);
    letter-spacing: var(--letter-spacing-m);
}

.slider__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
}

.carousel {
    display: flex;
    margin-right: 28px;
}

.carousel__item {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;

    border: 1px solid var(--basic-black);
    border-radius: 50%;

    cursor: pointer;
}

.carousel__item:not(:last-child) {
    margin-right: 18px;
}

.carousel__item::before {
    content: '';
    position: absolute;

    width: 6px;
    height: 6px;

    border: 1px solid var(--basic-black);
    border-radius: 50%;

    opacity: 0;
}

.carousel__item--active::before {
    opacity: 1;
}

/* Popular */

.popular {
    margin-top: 76px;
}

.popular__list {
    display: flex;
    flex-wrap: wrap;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m-l);
    letter-spacing: var(--letter-spacing-s);
    font-family: var(--font-special);
}

.popular__item {
    width: calc(100%/6 - 200px/6);
}

.popular__item:not(:nth-of-type(6n)) {
    margin-right: 40px;
}

.popular__content-wrap {
    height: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.popular__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 160px;
    height: 160px;
    margin-bottom: 38px;

    background-color: var(--special-yellow);
}

.popular__link {
    color: var(--basic-black);
}

.popular__link:hover,
.popular__link:hover .popular__img-wrap {
    background-color: var(--special-yellow-dark);
}

.popular__link:active {
    color: var(--special-black-opacity-3);
    background-color: var(--special-yellow-dark);
}

.popular__link:active .popular__img {
    opacity: .3;
}

.popular__desc--no-spacing {
    letter-spacing: normal;
}

/* Services */

.services-wrap {
    position: relative;
    display: flex;
    align-items: center;

    margin-top: 114px;
}

.services-wrap::before {
    content: '';
    position: absolute;
    top: 11px;
    width: 100%;
    height: 90%;
    background-color: var(--basic-grey-light);
}

.services {
    position: relative;
    top: var(--special-translate-space);
    display: flex;

    color: var(--basic-black);
}

.services__list {
    display: flex;
    flex-direction: column;

    width: 284px;
    flex-shrink: 0;
    margin-right: 116px;

    border-right: 7px solid var(--basic-black);
}

.services__button {
    min-width: 160px;

    text-align: center;
    text-transform: uppercase;
}

.services__item:first-child {
    margin-top: 80px;
}

.services__item:last-child {
    margin-bottom: 78px;
}

.services__item:not(:last-child) {
    margin-bottom: 24px;
}

.services__item {
    position: relative;
    z-index: 1;
}

.services__item::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0px;

    background-color: var(--basic-black);
}

.services__item:active::before,
.services__item--current::before {
    width: 100%;
    animation-name: width-animation;
    animation-duration: var(--duration-l);
}

.services__item:active .services__button,
.services__item--current .services__button {
    color: var(--special-yellow);
}

.services__item:active .services__button::before,
.services__item--current .services__button::before {
    background-color: var(--basic-black);
    animation-name: width-animation;
    animation-duration: var(--duration-m);
}

@keyframes width-animation {
    from { width: 0; }
    to { width: 100%; }
}

.services__content {
    flex-grow: 1;
}

.services__content-list {
    flex-grow: 1;
}

.services__content-item {
    display: none;
    align-items: center;
    width: 100%;
}

.services__content-item--active {
    display: flex;
}

.services__img {
    align-self: flex-start;
    margin-left: auto;
    margin-top: 70px;
}

.services__title {
    margin: 70px 0 40px;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-xl);
    letter-spacing: var(--letter-spacing-l);
    font-family: var(--font-special);
}

.services__text {
    line-height: var(--line-height-m);
    letter-spacing: var(--letter-spacing-m);

    white-space: pre-line;
}

/* Logotypes */

.logotypes {
    margin-top: 109px;
}

.logotypes__list {
    display: flex;
    flex-wrap: wrap;
}

.logotypes__item {
    position: relative;
    flex-grow: 0;
    width: 260px;
    height: 100px;
    margin-bottom: 90px;
}

.logotypes__item:not(:nth-of-type(4n)) {
    margin-right: 40px;
}

.logotypes__link:hover .logotypes__image:nth-child(1),
.logotypes__link:focus .logotypes__image:nth-child(1) {
    opacity: var(--opacity-invisible);
}

.logotypes__link:hover .logotypes__image:nth-child(2),
.logotypes__link:focus .logotypes__image:nth-child(2) {
    opacity: var(--opacity-visible);
}

.logotypes__image:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;

    opacity: var(--opacity-invisible);
}
    
/* About */

.about-site {
    flex-wrap: wrap;
    margin-bottom: 35px;

    color: var(--basic-black);
}

.about-site__block {
    display: flex;
    flex-direction: column;
}

.about-site__block:nth-of-type(2n - 1) {
    margin-right: 40px;
}

.about-site__title {
    position: relative;
    padding-top: 59px;
    margin: 0;
    margin-bottom: 37px;

    font-size: var(--font-size-special-xl);
    font-weight: var(--font-weight-l);
    letter-spacing: var(--letter-spacing-l);
    font-family: var(--font-special);
}

.about-site__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: var(--basic-black);
}

.about-site__text {
    margin: 0;
    
    line-height: var(--line-height-m);

    white-space: pre-line;
}

.about-site__text + .about-site__text{
    margin-top: 40px;
}

.about-site__list {
    margin-top: 60px;
    margin-bottom: 70px;
}

.about-site__item {
    position: relative;
    padding-left: 32px;
}

.about-site__item + .about-site__item {
    margin-top: 15px;
}

.about-site__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 8px;
    height: 8px;

    border: 2px solid var(--basic-grey-light);
    border-radius: 50%;
}

.about-site__link,
.about-site__link-button {
    color: var(--basic-black);
}

.about-site__link {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m);
    line-height: var(--line-height-m);
    font-family: var(--font-special);
}

.about-site__link:hover,
.about-site__link:focus {
    color: var(--special-black-opacity-6);
}

.about-site__link:active {
    color: var(--special-black-opacity-3);
}

.about-site__link-button {
    width: 260px;
    margin-top: auto;

    text-align: center;
    text-transform: uppercase;
}

.about-site__map {
    margin-top: 40px;
    cursor: pointer;
}

.about-site__popup-module {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    display: none;
    justify-content: center;
    align-items: center;
}

.about-site__popup-module:not(.module-hide) {
    animation-name: map-show;
    animation-duration: .4s;
}

.about-site--active .about-site__popup-module {
    display: flex;
}

.about-site__popup {
    position: absolute;

    width: 960px;
    height: 559px;
}

@keyframes map-show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes map-invisible {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.about-site__frame {
    border: none;
    box-shadow: var(--box-shadow-2);
    background: url('../img/map-big.png') no-repeat center center;
    background-color: var(--special-grey-light);
}

.about-site__button-close {
    position: absolute;
    top: 22px;
    right: 19px;
}

/* Footer */

.footer {
    background-color: var(--basic-dark);
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
}

.footer-menu__list {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
}

.footer-menu__item:not(:last-of-type) {
    margin-right: 42px;
}

.footer-menu__link {
    color: var(--special-white-opacity-7);
}

.footer-menu__link-image {
    margin-right: 9px;
}

.footer-menu__link-image path {
    fill: var(--special-yellow-custom);
}

.footer-menu__link:hover path,
.footer-menu__link:focus path {
    fill-opacity: var(--opacity-m);
}

.footer-menu__link:active path {
    fill-opacity: var(--opacity-l);

}

.footer-menu__button {
    color: var(--special-white-opacity-7);
}

.footer__contacts-services {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.footer__address {
    color: var(--basic-white);
}

.footer-nav__list {
    display: flex;
    align-items: center;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m-l);
    font-family: var(--font-special);
}

.footer-nav__item:not(:last-of-type) {
    margin-right: 36px;
}

.footer-nav__link {
    letter-spacing: var(--letter-spacing-l);
    color: var(--basic-white);
    text-transform: uppercase;
}

.footer__tel,
.footer__tel-link {
    color: var(--basic-white);
}

.footer__bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
}

.footer__decorate {
    width: 80px;
    height: 7px;
    background-color: var(--special-yellow-dark);
}

.footer-social__list {
    display: flex;
}

.footer-social__item:not(:last-of-type) {
    margin-right: 20px;
}

.footer-social__link:hover path,
.footer-social__link:focus path {
    fill-opacity: var(--opacity-m);
}

.footer-social__link:active path {
    fill-opacity: var(--opacity-xl);
}

.footer__partner-logo:hover path,
.footer__partner-logo:focus path {
    fill-opacity: var(--opacity-m);
}

.footer__partner-logo:active path {
    fill-opacity: var(--opacity-l);
}

/* Write us */

.write-us {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: none;
    justify-content: center;
    align-items: center;
}

.write-us__container {
    display: flex;
    flex-direction: column;


    width: 960px;
    height: 550px;
    padding-bottom: 60px;

    background-color: var(--basic-white);
    box-shadow: var(--box-shadow-1);
}

.write-us--visible {
    display: flex;
}

.write-us__button-close {
    margin: 20px 20px 17px auto;
}

.write-us__form {
    display: grid;
    grid-template-rows: 
        min-content 
        min-content 
        min-content;
    grid-template-columns: 1fr 1fr;

    row-gap: 32px;
    column-gap: 40px;

    margin-top: 17px;
    padding: 0 100px;
}

.write-us__label {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m-l);
    font-family: var(--font-special);
}

.write-us__input,
.write-us__area {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 16px 20px;

    vertical-align: baseline;

    font-weight: var(--font-weight-m);
    font-size: var(--font-size-main-s);
    font-family: var(--font-main);

    color: var(--special-black-opacity-4);

    background-color: var(--special-smoke-white);
    border: none;
}

.write-us__area {
    resize: none;
}

.write-us__label:nth-of-type(3) {
    grid-column: 1 / span 2;
}

.write-us__button {
    width: 200px;
    text-transform: uppercase;
}

/* Breadcrumbs */

.breadcrumbs {
    display: flex;
    flex-direction: column;

    margin-top: 44px;
    padding: 0 60px;
}

.breadcrumbs__category {
    margin: 0;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-xl);
    font-family: var(--font-special);

    color: var(--basic-black);
}

.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 30px 0;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item:not(:last-child) {
    margin-right: 19px;
}

.breadcrumbs__item:not(:last-of-type)::after {
    content: '';

    width: 4px;
    height: 6px;

    margin-left: 17px;

    color: var(--basic-black);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-decorate);

    background: var(--basic-white) url('../img/symbol-more.svg') no-repeat;
}

.breadcrumbs__link {
    font-size: var(--font-size-main-s);
    color: var(--special-black-opacity-3);
}

.breadcrumbs__link:hover {
    color: var(--special-black-opacity-6);
}

.breadcrumbs__link:active {
    color: var(--special-black-opacity-1);
}

/* Catalog */

.catalog {
    display: grid;
    grid-template-rows: 
        min-content
        min-content
        min-content;
    grid-template-columns: 1fr 328px 832px 1fr;

    margin-top: 20px;
}

.catalog,
.catalog input {
    font-weight: var(--font-weight-s);
    font-size: var(--font-size-main-s);
    color: var(--basic-black);
}

.catalog-header {
    display: flex;
    grid-column: 1 / span 4;
}

.catalog-header::before,
.catalog-header::after {
    content: '';
    display: block;
    width: 100%;
}

.catalog-header::before {
    grid-column: 1 / 2;
    background-color: var(--basic-grey-darken);
}

.catalog-header::after {
    grid-column: 4 / 5;
}

.catalog-header,
.catalog-filter__wrap {
    background-color: var(--basic-grey-light);
}

.catalog-header__filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    
    background-color: var(--basic-grey-darken);
}

.catalog-header__filter,
.catalog-header__sort {
    padding: 9px 0;
}

.catalog-header__sort {
    display: flex;
    align-items: center;
    min-width: 832px;
}

.catalog-header__title {
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m);
    letter-spacing: var(--letter-spacing-m);
    font-family: var(--font-special);

    text-transform: uppercase;
}

.catalog-header__filter .catalog-header__title {
    min-width: 200px;
    margin-right: 68px;
    margin-left: 60px;
}

.catalog-header__sort .catalog-header__title {
    margin-left: 72px;
}

.catalog-header__sort-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 72px;
}

.catalog-header__sort-item {
    /* чтобы не сломалась верстка */
    line-height: var(--line-height-m); 
    font-weight: var(--font-weight-m);
    font-size: var(--font-size-main-s);

    color: var(--special-black-opacity-3);
}

.catalog-header__sort-item:not(:last-child) {
    margin-right: 30px;
}

.text-effect-tertiary.catalog-header__sort-item--active {
    color: var(--basic-dark);
}

.direction-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 52px;

    margin-left: auto;
    padding-left: 4px;
    padding-right: 4px;
}

.direction-toggler__element {
    width: 10px;
    height: 11px;
    padding: 0;

    background-color: transparent;

    border: 5px solid var(--special-black-opacity-2);
    border-left-color: transparent;
    border-right-color: transparent;

    outline: none;
}

.direction-toggler__element--up {
    border-top: none;
    border-bottom-width: 11px;
}

.direction-toggler__element--down {
    border-bottom: none;
    border-top-width: 11px;
}

.direction-toggler__element:hover,
.direction-toggler__element:focus {
    border-top-color: var(--special-black-opacity-4);
    border-bottom-color: var(--special-black-opacity-4);
}

.direction-toggler__element--current {
    border-top-color: var(--basic-black);
    border-bottom-color: var(--basic-black);
}

.direction-toggler__element:active {
    border-top-color: var(--basic-black);
    border-bottom-color: var(--basic-black);
}

/* Catalog filter */

.catalog-main {
    display: flex;
    grid-column: 1 / span 4;
}

.catalog-main::before,
.catalog-main::after {
    content: '';
    display: block;
    width: 100%;
}

.catalog-main::before {
    background-color: var(--basic-grey-light);
}

.catalog-filter__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
}

.catalog-filter {
    display: flex;
    flex-direction: column;

    width: 200px;
    margin-right: 68px;
    margin-left: 60px;
}

.catalog-filter__item:not(:last-child) {
    margin-bottom: 38px;
}

.catalog-filter__item:first-of-type {
    margin-top: 71px;
}

.catalog-filter__title {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 14px;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-s-m);
    letter-spacing: var(--letter-spacing-m);
    font-family: var(--font-special);

    border-top: 2px solid var(--basic-black);
}

.catalog-filter__button {
    margin-top: 26px;
    text-transform: uppercase;
}

.filter__input:disabled ~ .filter__label {
    opacity: .25;
}

.filter__list {
    display: flex;
    flex-direction: column;
}

.filter__item:not(:last-of-type) {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

.filter__input {
    width: 24px;
    height: 24px;
}

.filter__label {
    margin-left: 18px;
    cursor: pointer;
}

.checkbox-field,
.radiobox-field {
    position: relative;

    display: flex;
    align-items: center;
}

.checkbox-field__input,
.radiobox-field__input {
    position: relative;
    z-index: 15;

    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.radiobox-field {
    padding-bottom: 15px;

    border-radius: 50%;
}

.checkbox-field__view,
.radiobox-field__view {
    position: absolute;
    z-index: 0;
    left: 0;

    width: 24px;
    height: 24px;

    border: 2px solid var(--basic-black);
}

.checkbox-field__view {
    border-radius: 2px;
}

.radiobox-field__view {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.checkbox-field__input:checked + .checkbox-field__view {
    background-image: url('../img/check-mark.svg');
    background-color: var(--basic-grey-light);
    background-position: center center;
    background-repeat: no-repeat;
}

.checkbox-field__input:disabled + .checkbox-field__view {
    opacity: .25;
}

.radiobox-field__input:checked + .radiobox-field__view::before {
    content: '';
    position: absolute;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    background-color: var(--basic-black);
}

.radiobox-field__input:disabled + .radiobox-field__view {
    opacity: .25;
}

.radiobox-field:hover .radiobox-field__input:not(:disabled) + .radiobox-field__view,
.radiobox-field:focus .radiobox-field__input:not(:disabled) + .radiobox-field__view,
.checkbox-field:hover .checkbox-field__input:not(:disabled) + .checkbox-field__view,
.checkbox-field:focus .checkbox-field__input:not(:disabled) + .checkbox-field__view {
    opacity: .6;
} 

.radiobox-field:active .radiobox-field__input:not(:disabled) + .radiobox-field__view,
.checkbox-field:active .checkbox-field__input:not(:disabled) + .checkbox-field__view {
    opacity: 1;
}

.checkbox-field__input:focus + .checkbox-field__view,
.checkbox-field__input:focus ~ .filter__label,
.radiobox-field__input:focus + .radiobox-field__view,
.radiobox-field__input:focus ~ .filter__label {
    opacity: .6;
}

/* Catalog filter range slider */

.range {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 0 100%;
    width: 200px;
    height: 44px;
    background-color: var(--basic-grey-light);
}

.range__track {
    position: relative;

    display: flex;
    width: 100%;
    height: 2px;
    margin-top: 9px;
    
    background-color: var(--special-black-opacity-2);
}

.range__indicator {
    position: absolute;
    left: 0;
    right: 0;

    height: 100%;
    background-color: var(--special-green);
}

.range__left,
.range__right {
    position: absolute;
    z-index: 10;
    top: 50%;

    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    user-select: none;
    outline: none;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .18);

    cursor: pointer;
}

.range__left::before,
.range__right::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 4px;
    height: 4px;

    background-color: #c4c4c4;

    border-radius: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.range__left:focus::after,
.range__right:focus::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 21px;
    height: 21px;

    background-color: transparent;

    border: 1px solid var(--special-green);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    box-sizing: border-box;
}

.range__left:active::before,
.range__right:active::before{
    background-color: var(--special-green);
}

.range__left {
    left: 0px;
}

.range__right {
    right: 0px;
}

.range__output-right,
.range__output-left {
    position: absolute;
    bottom: -8px;

    height: 20px;

    white-space: nowrap;

    font-size: var(--font-size-special-s-m);
    font-family: var(--font-special);

    transform: translateY(100%);
    user-select: none;

    background-color: var(--basic-grey-light);
}

.range__output-left {
    left: 0;
}

.range__output-right {
    right: 0;
}

/* Catalog content */

.catalog-content {
    display: grid;
    grid-template-columns: 72px 760px;
    grid-template-rows: 
        min-content 
        min-content 
        79px;
}

.catalog-content__wrap {
    grid-column: 2 / span 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 49px;

    width: 760px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.catalog-content__item {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 360px;
}

.catalog-content__item-link {
    display: flex;
}

.catalog-content__image-wrap {
    position: relative;
    display: flex;
    justify-content: center;

    background-color: var(--basic-grey-light);
}

.catalog-content__buttons-wrap {
    position: absolute;
    top: 171px;

    display: flex;
    flex-direction: column;
    width: 200px;

    visibility: hidden;
}

.catalog-content__description {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 30px;

    font-family: var(--font-special);
}

.catalog-content__title {
    flex-grow: 1;

    margin: 0;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m-l);
    letter-spacing: var(--letter-spacing-s);

    white-space: pre-line;
}

.catalog-content__price {
    position: relative;
    top: 3px;

    flex-shrink: 0;
    margin: 0;

    font-size: var(--font-size-special-m);
    letter-spacing: var(--letter-spacing-s);

    text-align: right;
}

.catalog-content__new {
    position: absolute;
    top: 29px;
    right: 27px;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;

    color: var(--special-black-opacity-3);
    text-transform: uppercase;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-xs);
    font-family: var(--font-special);

    border: 2px solid var(--special-black-opacity-3);
    border-radius: 50%;
    background-color: transparent;
}

.catalog-content__button-basket {
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: center;
}

.catalog-content__button-compare {
    color: var(--special-black-opacity-5);

    font-weight: var(--font-weight-s);
    font-size: var(--font-size-special-s);
    letter-spacing: var(--letter-spacing-m);
    font-family: var(--font-main);

    background-color: transparent;

    outline: none;
    border: none;

    cursor: pointer;
}

.catalog-content__button-compare:hover,
.catalog-content__button-compare:focus {
    color: var(--basic-black);
}

.catalog-content__button-compare:active {
    color: var(--special-black-opacity-2);
}

.catalog-content__item:hover .catalog-content__image,
.catalog-content__item:focus-within .catalog-content__image {
    opacity: .7;
}
.catalog-content__item:hover .catalog-content__buttons-wrap,
.catalog-content__item:focus-within .catalog-content__buttons-wrap {
    visibility: visible;
}

/* Pagination */

.pagination {  
    grid-column: 2 / span 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: var(--font-weight-l);
    font-size: var(--font-size-special-m);
    letter-spacing: var(--letter-spacing-m);
    font-family: var(--font-special);

    text-transform: uppercase;

    background-color: var(--special-grey-light);
}

.pagination__button {
    display: inline-block;
    padding: 25px 30px;
    vertical-align: baseline;
}

.pagination__button:hover,
.pagination__button:focus {
    background-color: var(--special-grey-dark);
}

.pagination__button:active {
    color: var(--special-black-opacity-3);
}

.pagination__list {
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.pagination__item:not(:last-child) {
    margin-right: 30px;
}

.pagination__link {
    color: var(--special-black-opacity-3);
}

.pagination__button {
    color: var(--basic-black);
}

.pagination__link.pagination__link--active {
    color: var(--basic-black);
}

/* Global */

.input {
    border: none;
    background-color: var(--special-smoke-white);
}

/* button effects */

.link-btn-effect-primary {
    position: relative;
    z-index: 1;
}

.link-btn-effect-primary::before {
    content: '';

    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 8px;

    top: 50%;
    transform: translateY(-50%);

    background-color: var(--special-yellow-dark);

    animation-name: link-btn-animation-out;
    animation-duration: var(--duration-xs);
}

.link-btn-effect-primary:hover::before {
    animation-name: link-btn-animation-in;
    animation-duration: var(--duration-x);
    height: 100%;
}

.link-btn-effect-primary:focus::before {
    animation-name: link-btn-animation-in;
    animation-duration: var(--duration-x);
    height: 100%;
}

.link-btn-effect-primary:active {
    color: var(--special-black-opacity-3);
    background-image: linear-gradient(to top, var(--special-yellow-dark), var(--special-yellow-dark));
}

@keyframes link-btn-animation-in {
    from { height: 8px; }
    to { height: 100%; }
}

@keyframes link-btn-animation-out {
    from { height: 100%; } 
    to { height: 8px; }
}

/* nav effects */

.text-effect-primary:hover,
.text-effect-primary:focus {
    opacity: var(--opacity-m);
}

.text-effect-primary:active {
    opacity: var(--opacity-l);
}


.text-effect-secondary {
    color: var(--special-white-opacity-7);
}

.text-effect-secondary:hover,
.text-effect-secondary:focus {
    color: var(--basic-white);
}

.text-effect-secondary:active {
    color: var(--special-white-opacity-3);
}

.text-effect-tertiary {
    color: var(--special-black-opacity-3);
}

.text-effect-tertiary:hover,
.text-effect-tertiary:focus {
    color: var(--special-black-opacity-6);
}

.text-effect-tertiary:active {
    color: var(--basic-black);
}

/* input effects */

.input-effects-primary:hover {
    background-color: var(--special-smoke-white-dark);
}

.input-effects-primary:focus {
    color: var(--basic-dark);
    background-color: var(--basic-white);

    outline: 2px solid var(--special-yellow);
    outline-offset: -2px
}

.input-effects-primary:invalid {
    background-color: var(--special-pink);
}

/* Logo effects */

.logo[href]:hover,
.logo[href]:focus {
    fill-opacity: .6;
}

.logo[href]:active {
    fill-opacity: .3;
}

/* Animation effects */

.module-show {
    animation-name: show;
    animation-duration: .6s;
}

@keyframes show {
    0% { transform: translateY(-100px); }
    80% { transform: translateY(30px); }
    100% { transform: translateY(0); }
}

.module-error {
    animation-name: module-error;
    animation-duration: .6s;
}

@keyframes module-error {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.module-hide {
    animation-name: module-hide;
    animation-duration: 2s;
}

@keyframes module-hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.transition {
    transition: src, opacity, .2s;
}

/* Other effects */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.offset-effect {
    position: relative;
    top: var(--basic-translate-space);
}